---
layout: default
---
<!-- _layouts/services.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Your Name - Services</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        h1, h2 {
            color: #333;
        }
        p {
            color: #666;
        }
    </style>
</head>
<body>
    <header>
        <h1>Services</h1>
    </header>
    <main>
        <section>
            <h2>2024</h2>
            <!-- <p>Here you can introduce your services. For example:</p> -->
            <ul>
                <li>External Reviewer Committee – 46th International Conference on Software Engineering (ICSE 2024)</li>
            </ul>
        </section>
        <section>
            <h2>2023</h2>
            <!-- <p>Here you can introduce your services. For example:</p> -->
            <ul>
                <li>Artifact Evaluation Committee – 17th USENIX Symposium on Operating Systems Design and Implementation (OSDI 2023)</li>
                <li>Artifact Evaluation Committee – 2023 USENIX Annual Technical Conference (ATC 2023)</li>
                <li>External Reviewer Committee – 32nd ACM Joint European Software Engineering Conference and Symposium on the Foundations of Software Engineering (ESEC/FSE 2023)</li>
                <li>External Artifact Evaluation Committee – ACM SIGPLAN International Conference on Object-Oriented Programming Systems, Languages, and Applications (OOPSLA 2023)</li>
            </ul>
        </section>
        <section>
            <h2>2022</h2>
            <!-- <p>Here you can introduce your services. For example:</p> -->
            <ul>
            <li>Artifact Evaluation Committee – 16th USENIX Symposium on Operating Systems Design and Implementation (OSDI 2022)</li>
            <li>Artifact Evaluation Committee – 2022 USENIX Annual Technical Conference (ATC 2022)</li>
            <li>External Artifact Evaluation Committee – ACM SIGPLAN International Conference on Object-Oriented Programming Systems, Languages, and Applications (OOPSLA 2022)</li>
            <li>External Artifact Evaluation Committee – 49th ACM SIGPLAN Symposium on Principles of Programming Languages (POPL 2022)</li>
            </ul>
        </section>
        <section>
            <h2>2021</h2>
            <ul>
            <li>External Artifact Evalaution Committee – ACM SIGPLAN International Conference on Object-Oriented Programming Systems, Languages, and Applications (OOPSLA 2021)</li>
            </ul>
        </section>
    </main>
    <!-- <footer>
        <p>Contact me at: <a href="mailto:your-email@example.com">boxiyu@link.cuhk.edu.cn</a></p>
    </footer> -->
</body>
</html>
